body {
    font-family: 'JetBrains Mono';
    background: black;
    color: white;
    display: grid;
    place-items: center;

}

header p {
    color: #817D92;

}

.container {
    width: clamp(21.4375rem, 17.102112676056336rem + 18.497652582159624vw, 33.75rem);

}

.generated-password {
    background-color: #24232C;
    margin-block-end: 1.5em;
    padding-inline: 1em;
    padding-block: 0.5em;

}

#generated-pass {
    font-size: 1.5em;
    font-weight: bold;
}

.character {
    background: #24232C;
    padding: clamp(1rem, 0.647887323943662rem + 1.5023474178403755vw, 2rem);
}

.char-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.char-length span {
    color: rgb(164, 255, 175);
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.323943661971831rem + 0.7511737089201878vw, 2rem);

}

.icon {
    background: url('assets/images/icon-copy.svg') no-repeat 98%;
    height: 25px;
}


#generated-pass::placeholder {
    color: rgb(128, 124, 146);
    color: magenta;
}

.slider {
    padding-block-end: 1em;

}

input[type=range] {
    appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #E6E5EA;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}
input[type=range]::-webkit-slider-thumb:hover{
    background-color: black;
    border: 1px solid rgb(164, 255, 175);
}











.checkBox {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.checkBox:not(:last-of-type) {
    padding-block-end: 1em;
}

.unchecked {
    cursor: pointer;
}

.hidden {
    display: none;
}

.char-strength {
    background: #18171F;
    padding: 0.5em 1em;
    margin-block-end: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.char-strength p:first-of-type {
    color: #817D92;
}



#generate-btn {
    color: black;
    padding-block: 1.3em;
    margin-inline: auto;
    width: 100%;
    background: rgb(164, 255, 175);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#generate-btn:hover {
    border: 1px solid rgb(164, 255, 175);
    background: #24232C;
    color: rgb(164, 255, 175);

}

button span {
    margin-left: 1.5em;
}



/*
green color :
color: rgb(164,255, 175);

input field background color and main container bg
rgb(36, 35, 44)

grey color placeholder

dark grey :#24232C

char strength background 
rgb(24, 23, 31)
*/